safepool.lib/.DS_Store
safepool.ui/node_modules
safepool.ui/frontend/dist
safepool.ui/build
safepool.ui/.gitignore
safepool.ui/frontend/package-lock.json
safepool.lib/data/__debug_bin
cli/__debug_bin
